[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"
pytest = "*"

[packages]
django = "*"
psycopg2 = "*"
ariadne = "*"
pyjwt = "*"
gunicorn = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pytest tests"
tests = "pytest tests"
