.user-wrapper{
    padding: 20px;
}
.user-info{
    width: 250px;
    padding: 20px;
    color: white;
    background-color: rgba(38, 38, 38, 0.2);
    border-radius: 20px;
}
.user-info ul{
    list-style: none;
    width: 100%;
}

.user-info h1{
    width: 100%;
    text-align: center;
    border-bottom: 10px solid white;
    border-radius: 10px;
}