body{
    background: linear-gradient(to top right, #0a5194 0%, #42c2f5 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.messages{
    color: white;
    padding: 6px;
    text-align: right;
}

.messages ul{
    list-style: none;
}
