{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}" />

<div class="user-wrapper">
    <div class="user-info">
        <h1>{{ user.username }}</h1>

        {% if not user.discord_id %}
            <a href="{% url 'discord-auth' %}" type="button" class="btn btn-lg btn-outline-light" style="width: 200px; margin-top: 50px">Verify Account</a>
        {% else %}
            <h3>Discord Verified</h3>
            <ul>
                <li>{{ user.discord_username }}#{{user.discord_discriminator}}</li>
            </ul>
        {% endif %}
    </div>
</div>

{% endblock content %}